/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Tex+Gyre+DejaVu+Math&display=swap'); */
/* Global styles */
body {
    background-color: #ffffff;
    color: #131316;
    font-family: 'Tex Gyre DejaVu', serif;
    /* font-family: 'Computer Modern', 'TeX Gyre DejaVu', 'DejaVu Sans', 'Liberation Sans', 'Arial', sans-serif; */
    padding: 0;
    margin: 0;
}

.banner2,
.polaroid,
.container2 {
    width: 90%;
    margin-bottom: 25px;
    margin-left: auto; /* Adjust as needed */
    margin-right: auto; /* Adjust as needed */
    padding-left: 25px; /* You might need to add padding instead of margin */
    padding-right: 25px; /* You might need to add padding instead of margin */
}

.banner2 {
    background-color: #E7D192;
    text-align: center;
    padding: 2px 0;
}

/* Components and specific elements */
.profile-pic {
    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Limit the image to its container's width */
    display: block; /* Prevent any default inline styles */
}

.new-banner {
    display: flex;
    margin-top: 75px;
    margin-bottom: 0px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.new-image {
    flex-basis: 40%;
}

img {
    max-width: 90%;
}

div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}

/* Styles for sections and elements */
section, .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0;
    margin-top: 75px;
    width: 90%;
}

.text, form h3, form input, form textarea, form button {
    font-weight: 900;
    font-size: 20px;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #E7D192;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.text h2 {
    color: #8F0D0D;
}

.text h3 {
    color: #2E2E2E;
}

.lightGrey {
    color: #666666;
}

.bold {
    font-weight: bold;    
    padding: 0 25px; /* Adjust as needed */
    /* Other styles */
}

.lightGrey {
    padding: 0 20px; /* Adjust as needed */
    /* Other styles */
}
.polaroid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the center */
  text-align: center; /* Center text within polaroid */
}

.polaroid {
  margin-bottom: 20px; /* Adjust spacing between polaroids */
}

.title {
  /* font-weight: bold; */
  margin-bottom: 5px; /* Adjust spacing between title and image */
}

Global
* {
    margin: 0;
    padding: 0;
    /* font-family: DejaVu Sans, serif; */
    font-family: 'Tex Gyre DejaVu', serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: Arial, Helvetica; */
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #8F0D0D;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #E7D192;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.9s;
}

@media(prefers-reduced-motion) {
    .hidden {
	transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 0.8s;
}
