.banner {
    background-color: #ffffff;
    color: #131316;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

.banner2 {
    background-color: #E7D192;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    padding: 2px 0;
}
#profile-pic {
    height: 200px;
    width: 200px;
}

.image {
    display: flex;

    .image:nth-child(2) {
	transition-delay: 200ms;
    }
    .image:nth-child(3) {
	transition-delay: 400ms;
    }
    .image:nth-child(4) {
	transition-delay: 600ms;
    }
}
#about {
    color: #ffffff;
	   font-size: 100px;
}

.bold {
    font-weight: 900;
    margin-left: 25px;
    color: #450808;
}

.pastel {
    font-weight: 900;
    color: #8F0D0D;
}

.lightGrey {
    color: #666666;
    margin-right: 75px;
    margin-left: 25px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #ffffff;
    color: #131316;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

    .hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
    }
    
    @media(prefers-reduced-motion) {
	.hidden {
	    transition: none;
	}
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

    
