/* /\* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap'); *\/ */
/* /\* @import url('https://fonts.googleapis.com/css2?family=Tex+Gyre+DejaVu+Math&display=swap'); *\/ */
/* /\* Global styles *\/ */
/* body { */
/*     background-color: #ffffff; */
/*     color: #131316; */
/*     font-family: 'Tex Gyre DejaVu', serif; */
/*     padding: 0; */
/*     margin: 0; */
/* } */

/* .banner2, */
/* .polaroid, */
/* .container2 { */
/*     width: 90%; */
/*     margin: 0 auto; */
/*     margin-bottom: 25px; */
/*     padding: 0 25px; */
/* } */

/* .banner2 { */
/*     background-color: #E7D192; */
/*     text-align: center; */
/*     padding: 2px 0; */
/* } */

/* /\* Components and specific elements *\/ */
/* .profile-pic { */
/*     max-width: 100%; */
/*     max-height: 200px; */
/*     width: auto; */
/*     height: auto; */
/*     display: block; */
/* } */

/* .new-banner { */
/*     display: flex; */
/*     margin: 75px auto 0; */
/*     padding: 20px 0; */
/*     align-items: center; */
/*     justify-content: center; */
/* } */

/* .new-image { */
/*     flex-basis: 40%; */
/* } */

/* img { */
/*     max-width: 90%; */
/*     height: auto; */
/* } */

/* div.polaroid { */
/*     background-color: white; */
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
/*     margin-bottom: 40px; */
/* } */

/* /\* Styles for sections and elements *\/ */
/* section, .banner { */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center; */
/*     min-height: 100vh; */
/*     padding: 100px 0; */
/*     margin: 75px auto 0; */
/*     width: 90%; */
/* } */

.text,
form h3,
form input,
form textarea,
form button {
  font-weight: 900;
  font-size: 20px;
}

form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form horizontally */
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  margin: 0 auto; /* Center the form horizontally */
}

form input,
form textarea {
  border: 0;
  margin: 10px 0; /* Adjusted margin for better spacing */
  padding: 15px; /* Adjusted padding for consistent spacing */
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  width: calc(100% - 30px); /* Calculate width with 15px padding on each side */
}

form button {
  padding: 15px;
  background: #E7D192;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  border-radius: 20px;
}

/* .text h2 { */
/*     color: #8F0D0D; */
/* } */

/* .text h3 { */
/*     color: #2E2E2E; */
/* } */

.lightGrey {
    /* color: #666666; */
    padding: 0 20px;
}

/* /\* Polaroid Styles *\/ */
/* .polaroid-wrapper { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: center; */
/*     text-align: center; */
/* } */

/* /\* Ensure images scale with browser zoom *\/ */
/* .polaroid img { */
/*     width: 100%; /\* Ensure the image fills the container width *\/ */
/*     height: auto; /\* Allow the height to adjust accordingly *\/ */
/*     object-fit: contain; /\* Resize the image to maintain its aspect ratio *\/ */
/*     transition: transform 0.3s ease; /\* Add transition for smooth zooming *\/ */
/* } */

/* /\* Ensure polaroid containers adjust with browser zoom *\/ */
/* .polaroid { */
/*     width: 100%; /\* Ensure the container fills the available space *\/ */
/*     border-radius: 10px; */
/*     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
/*     overflow: hidden; /\* Hide overflowing content *\/ */
/*     margin-bottom: 20px; /\* Add margin to separate polaroids *\/ */
/* } */

/* .title { */
/*     margin-bottom: 5px; */
/* } */

/* /\* Add hover effect for zooming *\/ */
/* .polaroid:hover { */
/*     transform: scale(1.05); /\* Scale up the image on hover *\/ */
/* } */

/* /\* Header *\/ */
/* header { */
/*     display: flex; */
/*     justify-content: flex-end; */
/*     align-items: center; */
/*     padding: 20px 50px; */
/*     box-shadow: 0 1px 8px #ddd; */
/* } */

/* #nav-title { */
/*     margin-right: auto; */
/*     font-size: 1.5em; */
/* } */

/* header li { */
/*     list-style: none; */
/*     display: inline-block; */
/*     padding: 0 20px; */
/* } */

/* header a { */
/*     text-decoration: none; */
/*     color: #8F0D0D; */
/*     transition: all 0.3s ease 0s; */
/* } */

/* header a:hover { */
/*     color: #E7D192; */
/* } */

/* /\* Visibility and animation *\/ */
/* .hidden { */
/*     opacity: 0; */
/*     filter: blur(5px); */
/*     transform: translateX(-100%); */
/*     transition: all 0.9s; */
/* } */

/* @media(prefers-reduced-motion) { */
/*     .hidden { */
/* 	transition: none; */
/*     } */
/* } */

/* .show { */
/*     opacity: 1; */
/*     filter: blur(0); */
/*     transform: translateX(0); */
/*     transition: all 0.8s; */
/* } */
