:root {
	/* Font smoothing and text size adjustment */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Color Variables */
	--light-color: #f8f8f8;
	--dark-color: #333;
	--accent-color: #e7d192;
	--dark-accent: #8f0d0d;
	--white-color: #ffffff;
	--sublight-color: #dfdfdf;
	--subdark-color: #474747;
	--subaccent-color: #5d6d7e;
	--subprimary-color: #34495e;
	--subborder-color: #283747;

	/* Shadow Variables */
	--light-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
		0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
	--dark-shadow: 0 0.4rem 0.8rem 0 rgba(255, 255, 255, 0.2),
		0 0.6rem 2rem 0 rgba(255, 255, 255, 0.19);

	/* Opaque Variables */
	--accent-opaque: rgba(231, 209, 146, 0.5);
	--dark-accent-opaque: rgba(143, 13, 13, 0.5);

	/* Text Shadow Variables */
	--light-text-shadow: 0 0.025rem 0.025rem rgba(255, 255, 255, 1),
		0 0.05rem 0.1rem rgba(255, 255, 255, 1);
	--dark-text-shadow: 0 0.025rem 0.025rem rgba(0, 0, 0, 1),
		0 0.05rem 0.1rem rgba(0, 0, 0, 1);

	/* Highlight Variables */
	--subshadow-color: rgba(0, 0, 0, 0.75);
	--subhighlight-color: rgba(255, 255, 255, 0.15);
}

html {
	font-family:
		'Arial',
		-apple-system,
		'Roboto',
		BlinkMacSystemFont,
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-stretch: semi-condensed;
	font-weight: 400;
	line-height: 1.5;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	margin: auto;
	max-width: 90vw;
	padding: 1em;
	background-color: var(--light-color);
	color: var(--dark-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 1rem;
	}
}

.hamburger-menu,
.hamburger-menu .fold-down-content,
.hamburger-menu .hamburger-container,
.hamburger-menu nav,
.hamburger-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.hamburger-menu {
	position: relative;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	flex-direction: row-reverse;
}
.hamburger-container {
	display: flex;
	align-items: center;
}
.hamburger-button {
	font-size: 2.8rem;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--dark-color);
}
#nav-title {
	margin: 0;
	font-size: 2.8rem;
	margin-right: auto;
	font-weight: 600;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
#nav-title a {
	text-decoration: none;
	color: var(--dark-color);
}
#nav-menu {
	display: none;
	flex-direction: row;
	align-items: center;
}
#nav-menu.nav-shown {
	display: flex;
	order: -1;
}
.hamburger-menu ul {
	display: flex;
}
.bold-selection {
	margin: 0 10px;
	text-decoration: none;
	color: var(--dark-color);
	white-space: nowrap;
	font-size: 1.8rem;
	text-transform: uppercase;
}
.fold-down-menu {
	position: relative;
}
.fold-down-content {
	display: none;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 100%;
	background: transparent;
	color: var(--dark-color);
	font-size: 1.4rem;
	text-transform: uppercase;
}
.fold-down-content.shown {
	display: flex;
}
.fold-down-menu > a::after {
	content: ' \25BC';
}
a.bold-selection:hover,
a.bold-href:hover,
h1#nav-title a:hover {
	background-color: var(--accent-opaque);
	border-radius: 0.25rem;
	transition: background-color 0.3s ease;
	text-decoration: none;
}
a.bold-href {
	white-space: nowrap;
	padding: 0.25rem;
}

.gold-banner {
	background-color: var(--accent-color);
	padding: 0.2rem 0.2rem;
}
button {
	padding: 10px 20px;
	border: none;
	background-color: var(--dark-color);
	color: var(--light-color);
	cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--dark-color);
}
a {
	color: var(--dark-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.button {
	background-color: var(--dark-color);
	color: var(--dark-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover {
	background-color: darken(var(--accent-color), 10%);
}
.border {
	border-color: var(--accent-color);
}
.alert {
	background-color: lighten(var(--accent-color), 60%);
	color: var(--light-color);
	padding: 10px;
	border-radius: 5px;
}
.text h1 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
.text h2 {
	margin: 0.5rem 0;
	font-size: 1.8rem;
}
.text h3 {
	margin: 0.5rem 0;
	font-size: 1.4rem;
}
.footer-text {
	margin: 0.5rem 0;
	font-size: 0.9rem;
}
.subtitle {
	padding-bottom: 0.3125rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
	font-weight: 600;
	font-size: 2.4rem;
	text-transform: uppercase;
	/* font-family: 'Computer Modern Sans', sans-serif; */
	/* font-stretch: semi-condensed; */
}
.title {
	border-bottom: 0.125rem solid var(--accent-color);
	padding-bottom: 0.3125rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
	font-weight: 500;
	font-size: 1.8rem;
	z-index: 1;
	color: black;
	text-transform: uppercase;
}

.about-list > li {
	/* font-size: 1.8rem; */
	position: relative;
	padding: 0.5rem 0.2rem;
	padding-left: 2rem;
	line-height: 1.1;
	border-bottom: 1px solid var(--accent-color);
	/* font-weight: 500; */
	color: var(--subdark-color);
	margin-right: 2rem;
}

.about-list {
	list-style-type: none;
	padding: 0.2rem 1rem;
	padding-right: calc(2vw + 10rem);
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	color: var(--subdark-color);
	font-weight: 700;
}
.about-list > li::before {
	content: '►';
	color: var(--accent-color);
	font-weight: 700;
	font-size: 1.8rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.about-text {
	margin: 1rem;
	font-size: 1.8rem;
	padding: 1.5rem;
	font-weight: 400;
	position: relative;
	font-family: 'EB Garamond', serif;
}
.about-text::before,
.about-text::after {
	content: '“';
	font-family: 'Great Vibes', cursive;
	font-size: 5em;
	position: absolute;
	color: var(--subdark-color);
}
.about-text::before {
	top: -0.2em;
	left: -0.2em;
}
.about-text::after {
	content: '”';
	bottom: -0.9em;
	right: 0.2em;
}
.about-list > li {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--subdark-color);
	margin-bottom: 1rem;
	position: relative;
	padding-left: 2rem;
}

/* Styles for technical list */
.technical-list {
	padding-right: calc(2vw + 10rem);
}

.technical-list ul ul li {
	position: relative;
	list-style-type: none;
	padding-left: 30px;
}
.technical-list ul ul li .fas.fa-check {
	position: absolute;
	left: 0;
	top: 0;
}

.technical-list > li {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 1rem;
	position: relative;
	padding-left: 2rem;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 0.125rem solid var(--accent-color);
}
.technical-list > li > i {
	font-size: 1.5rem;
	margin-right: 1rem;
	color: var(--accent-color);
}
.technical-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 3rem;
	flex-grow: 1;
}
.technical-list ul > li {
	font-size: 1.6rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	position: relative;
	padding-left: 2rem;
}
.technical-list ul > li::before {
	content: '';
	font-weight: 700;
	font-size: 1.8rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 1rem;
}
.technical-list ul > li > i {
	font-size: 1.2rem;
	margin-right: 1rem;
	margin-left: -2rem;
	/* margin-right: 0.5rem; */
	color: var(--accent-color);
}

/* .curly-brace { */
/* 	font-size: 12rem; */
/* 	color: var(--accent-color); */
/* 	margin-left: 0.5rem; */
/* 	/\* position: absolute; *\/ */
/* 	/\* left: calc(1.5rem + 1rem); *\/ */
/* 	top: 0; */
/* 	line-height: 0; */
/* } */

/* Styles for progress bars */
/* .progress-bar { */
/* 	height: 1rem; */
/* 	background-color: var(--light-color); */
/* 	border-radius: 0.5rem; */
/* 	overflow: hidden; */
/* 	flex-grow: 1; */
/* 	margin-left: 1rem; */
/* } */
/* .progress-bar > div { */
/* 	height: 100%; */
/* 	background-color: var(--accent-color); */
/* 	border-radius: inherit; */
/* 	width: 70%; /\* Adjust width according to proficiency *\/ */
/* } */

/* Styles for tooltips */
.tooltips {
	position: relative;
	display: inline-block;
}
.tooltips .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: var(--dark-color);
	color: var(--white-color);
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -100px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltips:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Subtitle styles */
h3.subtitle {
	border-bottom: 0.125rem solid var(--accent-color);
	margin-right: 8.5rem;
}

.profile-banner {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.profile-image {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.profile-pic {
	width: 20rem;
	border-radius: 50%;
	box-shadow: var(--light-shadow);
	margin-top: 2rem;
}
.profile-text {
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.profile-banner-item {
	white-space: nowrap;
	margin-right: 0.5rem;
}
.profile-banner-item:not(:last-child)::after {
	content: '|';
	color: var(--accent-color);
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.section {
	height: 100vh;
	padding: 2rem;
	border-radius: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	padding: 1rem;
	border-radius: 1.5rem;
	box-shadow: var(--light-shadow);
	position: relative;
	margin-bottom: 1.5rem;
	margin: 2.5rem;
}
#about.card {
	padding: 2.5rem;
	border-radius: 1.5rem;
	box-shadow: var(--light-shadow);
	position: relative;
}
.badge-container {
	position: absolute;
	z-index: 2;
	top: 5vw;
	right: 2vw;
	width: 14rem;
	height: auto;
}
.badge-container img {
	max-width: 100%;
	height: auto;
}
.polaroid-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.polaroid {
	flex: 0 0 45%;
	margin: 1rem;
	border-radius: 1.5rem;
	padding: 1rem;
	box-shadow: var(--light-shadow);
	background-color: var(--white-color);
	padding-top: 0;
}
.polaroid img:hover:not(.zoomed) {
	cursor: zoom-in;
}
.polaroid img.zoomed:hover {
	cursor: zoom-out;
}
.polaroid img {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
	border-radius: 1.5rem;
}
.instructions {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 1.8rem;
}
.loading {
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 5px;
}
.object-container {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
}
form {
	background: var(--light-color);
	display: flex;
	flex-direction: column;
	width: 58rem;
	max-width: 60vw;
	border-radius: 1rem;
	margin: 0 auto;
	box-shadow: var(--light-shadow);
	color: var(--dark-color);
	padding: 4vw 4vw;
}
form .text,
form h3,
form input,
form textarea,
form button {
	font-weight: 900;
	font-size: 2rem;
	color: var(--dark-color);
}
form input,
form textarea {
	border: 0;
	margin: 1rem 0;
	padding: 2rem;
	outline: none;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	font-size: 1.8rem;
	outline: none;
	background: var(--light-color);
}
form button {
	padding: 1.5rem;
	background: var(--accent-opaque);
	color: var(--light-color);
	font-size: 1.8rem;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 15rem;
	margin: 2rem auto 0;
	border-radius: 3rem;
	transition: background-color 0.3s ease;
}
form input:hover,
form textarea:hover {
	background-color: var(--accent-opaque);
}
form button:hover {
	background-color: var(--accent-color);
}
.scroll-container {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
#scroll-button {
	width: 6vw;
	height: 6vw;
	padding: 1.1vw;
	font-size: 1.6vw;
	border: none;
	outline: none;
	background-color: var(--accent-opaque);
	color: var(--light-color);
	cursor: pointer;
	border-radius: 50%;
	box-sizing: border-box;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
#scroll-button:hover {
	background-color: var(--accent-color);
}
.footer-text {
	text-align: center;
	margin-top: 2rem;
	font-weight: 400;
}
footer {
	position: relative;
	text-align: center;
	margin-bottom: 5rem;
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	box-shadow: var(--light-shadow);
	margin-top: -1rem;
}
