root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: auto;
	max-width: 90vw;
	padding: 1em;
	background-color: var(--light-color);
	color: var(--dark-color);
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
html {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family:
		'Arial',
		-apple-system,
		'Roboto',
		BlinkMacSystemFont,
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-stretch: semi-condensed;
	font-weight: 400;
	line-height: 1.5;

	scroll-behavior: smooth;
	font-size: 62.5%;
	--light-color: #f8f8f8;
	--dark-color: #333;
	--accent-color: #e7d192;
	--dark-accent: #8f0d0d;
	--light-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
		0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
	--dark-shadow: 0 0.4rem 0.8rem 0 rgba(255, 255, 255, 0.2),
		0 0.6rem 2rem 0 rgba(255, 255, 255, 0.19);
	--accent-opaque: rgba(231, 209, 146, 0.5);
	--dark-accent-opaque: rgba(143, 13, 13, 0.5);
	--white-color: rgba(255, 255, 255, 1);
	--light-text-shadow: 0 0.025rem 0.025rem rgba(255, 255, 255, 1),
		0 0.05rem 0.1rem rgba(255, 255, 255, 1);
	--dark-text-shadow: 0 0.025rem 0.025rem rgba(0, 0, 0, 1),
		0 0.05rem 0.1rem rgba(0, 0, 0, 1);
	--sublight-color: #dfdfdf;
	--subdark-color: #474747;
	--subaccent-color: #5d6d7e;
	--subprimary-color: #34495e;
	--subshadow-color: rgba(0, 0, 0, 0.75);
	--subhighlight-color: rgba(255, 255, 255, 0.15);
	--subborder-color: #283747;
}
header.header {
	padding: 1.5rem;
	background: var(--accent-opaque);
	text-transform: uppercase;
	color: var(--dark-accent);
	box-shadow: 0 1.8rem 3.2rem 0 var(--subshadow-color);
}
header:hover {
	background: var(--accent-color);
}
.gold-banner {
	background-color: var(--accent-color);
	padding: 0.2rem 0.2rem;
}
button {
	padding: 10px 20px;
	border: none;
	background-color: var(--dark-color);
	color: var(--light-color);
	cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--dark-color);
}
a {
	color: var(--dark-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.button {
	background-color: var(--dark-color);
	color: var(--dark-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover {
	background-color: darken(var(--accent-color), 10%);
}
.border {
	border-color: var(--accent-color);
}
.alert {
	background-color: lighten(var(--accent-color), 60%);
	color: var(--light-color);
	padding: 10px;
	border-radius: 5px;
}
.navbar {
	background-color: var(--dark-color);
	color: var(--light-color);
	padding: 1rem 2rem;
	transition: background-color 0.3s ease;
}
.navbar-nav {
	margin-left: auto;
}
@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 1rem;
	}
}
.text h1 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
.text h2 {
	margin: 0.5rem 0;
	font-size: 1.8rem;
}
.text h3 {
	margin: 0.5rem 0;
	font-size: 1.4rem;
}
.footer-text {
	margin: 0.5rem 0;
	font-size: 0.9rem;
}
.subtitle {
	padding-bottom: 0.3125rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
	font-weight: 700;
	font-size: 2.4rem;
	text-transform: uppercase;
	/* font-family: 'Computer Modern Sans', sans-serif; */
	/* font-stretch: semi-condensed; */
}
.title {
	border-bottom: 0.125rem solid var(--accent-color);
	padding-bottom: 0.3125rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
	font-weight: 500;
	font-size: 1.8rem;
	z-index: 1;
	color: black;
	text-transform: uppercase;
}
.about-text {
	margin: 0.5rem 0;
	font-size: 1.6rem;
	margin-left: 2.5rem;
	padding: 2.5rem;
	margin-right: 6rem;
	font-weight: 400;

	/* text-transform: none; */
	/* font-stretch: semi-condensed; */
	position: relative;
	font-family: 'EB Garamond', sans-serif;
	/* font-style: italic; */
	/* text-transform: uppercase; */
}

.about-text::before,
.about-text::after {
	content: '“';
	font-family: 'Great Vibes', cursive;
	font-size: 5em;
	position: absolute;
	color: var(--subdark-color);
}

.about-text::before {
	top: -0.2em;
	left: -0.2em;
}

.about-text::after {
	content: '”';
	bottom: -0.9em;
	right: 0.2em;
}
.about-list > li {
	/* margin: 0.3125rem 0; */
	font-size: 1.8rem;
	position: relative;
	padding: 0.5rem 0.2rem;
	padding-left: 2rem;
	line-height: 1.6;
	border-bottom: 1px solid var(--accent-color);
	font-weight: 500;
	color: var(--subdark-color);
	margin-right: 2rem;
	/* text-transform: uppercase; */
}
.about-list,
.technical-list {
	list-style-type: none;
	padding: 0.2rem 1.2rem;
	padding-right: calc(2vw + 10rem);
	font-weight: 700;
	color: var(--subdark-color);
}
.about-list > li::before {
	content: '►';
	color: var(--accent-color);
	font-weight: 700;
	font-size: 1.8rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.technical-list > li {
	margin: 0.3125rem 0;
	font-size: 1.8rem;
	font-weight: 500;
	padding-left: 3rem;
	/* text-transform: uppercase; */
}
.technical-list li ul li {
	list-style-type: none;
	/* padding-left: 14vw; */
}
.technical-list ul > li {
	margin: 0.3125rem 0;
	font-size: 1.6rem;
	font-weight: 500;
	/* padding-left: 6vw; */
}
.technical-list ul > li::before {
	content: '• ';
	color: --dark-accent;
	font-weight: 700;
	margin-left: 2rem;
	color: var(--accent-color);
}
.fold-down-menu {
	position: relative;
	display: inline-block;
}
.fold-down-content {
	display: none;
	position: absolute;
	background-color: var(--light-color);
	min-width: max-content;
	box-shadow: var(--light-shadow);
	border-radius: 1.5rem;
	z-index: 1;
	padding: 1.5rem;
}
.fold-down-menu:hover .fold-down-content {
	display: block;
	font-size: 1.8rem;
}
.fold-down-content span.bold {
	padding: 1.5rem;
	text-decoration: uppercase;
	display: block;
	white-space: nowrap;
}
.fold-down-content span.bold:hover {
	border-radius: 1rem;
}
.fold-down-content .navbar-separator {
	display: none;
}
.fold-down-content .navbar-separator:last-child {
	display: block;
}
.bold-selection {
	font-size: 2rem;
	font-weight: 800;
	transform: uppercase;
}
.box-shadow {
	box-shadow: var(--light-shadow);
	border-radius: 1.5rem;
}
#nav-title {
	font-size: 3.2rem;
	padding-bottom: 1rem;
	margin: 0;
	/* font-family: 'Computer Modern Sans', sans-serif; */
}
#nav-title a {
	text-decoration: none;
	color: var(--dark-accent);
	text-shadow: var(--dark-text-shadow);
	cursor: pointer;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}
nav a {
	text-decoration: none;
	color: var(--dark-accent);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
	display: inline-block;
}
nav a:hover {
	background-color: var(--dark-accent-opaque);
	text-decoration: none;
}
.fold-down-content .bold-href {
	display: block;
	padding: 0.8rem 1.2rem;
}
.fold-down-content {
	font-weight: 700;
}
.fold-down-content a:hover {
	background-color: var(--accent-opaque);
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
}
.navbar-separator {
	color: var(--dark-accent);
}
.fold-down-content .navbar-separator {
	display: none;
}
.fold-down-content .navbar-separator:last-child {
	display: block;
}
.explore-selection {
	padding: 0.8rem 1.2rem;
	font-size: 1.8rem;
}
.header {
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	box-shadow: var(--light-shadow);
}
.profile-banner {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.profile-image {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.profile-pic {
	width: 20rem;
	border-radius: 50%;
	box-shadow: var(--light-shadow);
	margin-top: 2rem;
}
.profile-text {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.profile-banner-item {
	white-space: nowrap;
	margin-right: 0.5rem;
}
.profile-banner-item:not(:last-child)::after {
	content: '|';
	color: var(--accent-color);
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.section {
	height: 100vh;
	padding: 2rem;
	border-radius: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	padding: 2.5rem;
	border-radius: 1.5rem;
	box-shadow: var(--light-shadow);
	position: relative;
	margin-bottom: 1.5rem;
}
#about.card {
	padding: 2.5rem;
	border-radius: 1.5rem;
	box-shadow: var(--light-shadow);
	position: relative;
}
.badge-container {
	position: absolute;
	z-index: 2;
	top: 5vw;
	right: 2vw;
	width: 14rem;
	height: auto;
}
.badge-container img {
	max-width: 100%;
	height: auto;
}
.polaroid-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.polaroid {
	flex: 0 0 45%;
	margin: 1rem;
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: var(--light-shadow);
	background-color: var(--white-color);
	padding-top: 0;
}
.polaroid img:hover:not(.zoomed) {
	cursor: zoom-in;
}
.polaroid img.zoomed:hover {
	cursor: zoom-out;
}
.polaroid img {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
	border-radius: 1.5rem;
}
.instructions {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 1.8rem;
}
.loading {
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 5px;
}
.object-container {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
}
form {
	background: var(--light-color);
	display: flex;
	flex-direction: column;
	width: 58rem;
	max-width: 60vw;
	border-radius: 1rem;
	margin: 0 auto;
	box-shadow: var(--light-shadow);
	color: var(--dark-color);
	padding: 4vw 4vw;
}
form .text,
form h3,
form input,
form textarea,
form button {
	font-weight: 900;
	font-size: 2rem;
	color: var(--dark-color);
}
form input,
form textarea {
	border: 0;
	margin: 1rem 0;
	padding: 2rem;
	outline: none;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	font-size: 1.8rem;
	outline: none;
	background: var(--light-color);
}
form button {
	padding: 1.5rem;
	background: var(--accent-opaque);
	color: var(--light-color);
	font-size: 1.8rem;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 15rem;
	margin: 2rem auto 0;
	border-radius: 3rem;
	transition: background-color 0.3s ease;
}
form input:hover,
form textarea:hover {
	background-color: var(--accent-opaque);
}
form button:hover {
	background-color: var(--accent-color);
}
.scroll-container {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
#scroll-button {
	width: 6vw;
	height: 6vw;
	padding: 1.1vw;
	font-size: 1.6vw;
	border: none;
	outline: none;
	background-color: var(--accent-opaque);
	color: var(--light-color);
	cursor: pointer;
	border-radius: 50%;
	box-sizing: border-box;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
#scroll-button:hover {
	background-color: var(--accent-color);
}
.footer-text {
	text-align: center;
	margin-top: 2rem;
	font-weight: 400;
}
footer {
	position: relative;
	text-align: center;
	margin-bottom: 5rem;
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	box-shadow: var(--light-shadow);
	margin-top: -1rem;
}
