
/* Base styles for all screen sizes */
.full-screen-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.full-screen-section {
		padding: 1rem;
	}

	Adjust font sizes for readability on small screens body {
		font-size: 14px;
	}

	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		font-size: 16px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.full-screen-section {
		padding: 2rem;
	}

	body {
		font-size: 16px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		font-size: 18px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.full-screen-section {
		padding: 3rem;
	}

	body {
		font-size: 20px;
	}
}

/* For very tall screens, ensure content doesn't stretch too much */
@media only screen and (min-height: 1000px) {
	.full-screen-section {
		max-width: 1200px;
		margin: 0 auto;
	}
}

/* For very wide screens, limit the width to maintain readability */
@media only screen and (min-width: 1400px) {
	.full-screen-section {
		max-width: 1400px;
		margin: 0 auto;
	}
}

/* Adjustments for smaller heights to prevent content overflow */
@media only screen and (max-height: 700px) {
	.full-screen-section {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

/* Ensure text remains readable on very small devices */
@media only screen and (max-width: 320px) {
	body {
		font-size: 12px;
	}
}

:root {
	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 2rem;
	--space-xl: 4rem;

	/* Font smoothing and text size adjustment */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Color Variables */
	--light-color: #f8f8f8;
	--dark-color: #333;
	--accent-color: #e7d192;
	--dark-accent: #8f0d0d;
	--white-color: #ffffff;
	--sublight-color: #dfdfdf;
	--subdark-color: #474747;
	--subaccent-color: #5d6d7e;
	--subprimary-color: #34495e;
	--subborder-color: #283747;

	/* Shadow Variables */
	--light-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
		0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
	--dark-shadow: 0 0.4rem 0.8rem 0 rgba(255, 255, 255, 0.2),
		0 0.6rem 2rem 0 rgba(255, 255, 255, 0.19);

	/* Opaque Variables */
	--accent-opaque: rgba(231, 209, 146, 0.5);
	--dark-accent-opaque: rgba(143, 13, 13, 0.5);

	/* Text Shadow Variables */
	--light-text-shadow: 0 0.025rem 0.025rem rgba(255, 255, 255, 1),
		0 0.05rem 0.1rem rgba(255, 255, 255, 1);
	--dark-text-shadow: 0 0.025rem 0.025rem rgba(0, 0, 0, 1),
		0 0.05rem 0.1rem rgba(0, 0, 0, 1);

	/* Highlight Variables */
	--subshadow-color: rgba(0, 0, 0, 0.75);
	--subhighlight-color: rgba(255, 255, 255, 0.15);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	font-family:
		'Arial',
		-apple-system,
		'Roboto',
		BlinkMacSystemFont,
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-stretch: semi-condensed;
	font-weight: 400;
	line-height: 1.5;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	/* margin: auto; */
	/* max-width: 90vw; */
	/* padding: 1em; */
	background-color: var(--light-color);
	color: var(--dark-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 1rem;
	}
}

.hamburger-menu,
.hamburger-menu .fold-down-content,
.hamburger-menu .hamburger-container,
.hamburger-menu nav,
.hamburger-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hamburger-menu {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.hamburger-container {
    display: flex;
    align-items: center;
}

.hamburger-button {
    font-size: 2.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-color);
}

.logo-title-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    order: 2;
    width: 100%;
    margin-top: 10px;
}

.logo-container {
    margin-right: 1rem;
}

.company-logo {
    max-width: 50px;
    height: auto;
}

#nav-title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#nav-title a {
    text-decoration: none;
    color: var(--dark-color);
}

@media (min-width: 768px) {
    .hamburger-menu {
        flex-wrap: nowrap;
    }

    .logo-title-container {
        width: auto;
        order: 1;
        margin-top: 0;
    }

    .company-logo {
        max-width: 200px;
    }

    #nav-title {
        font-size: 2.8rem;
    }

    .hamburger-container {
        order: 2;
    }
}

#nav-menu {
	position: fixed;
	top: 0;
	right: -300px; /* Adjust width as needed */
	width: 300px;
	height: 100%;
	background: var(--light-color);
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: right 0.3s ease;
	overflow-y: auto;
}

#nav-menu.nav-shown {
	right: 0;
}

.hamburger-menu ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}

.bold-selection {
	margin: 10px 0;
	text-decoration: none;
	color: var(--dark-color);
	white-space: nowrap;
	font-size: 1.8rem;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 0.25rem;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

.fold-down-menu {
	position: relative;
	width: 100%;
}

.fold-down-content {
	display: none;
	flex-direction: column;
	background: var(--light-color);
	color: var(--dark-color);
	font-size: 1.4rem;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	padding-left: 20px;
}

.fold-down-content.shown {
	display: flex;
}

.fold-down-menu > a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fold-down-menu > a .toggle {
	margin-left: 10px;
}

a.bold-selection:hover,
a.bold-href:hover,
h1#nav-title a:hover {
	background-color: var(--accent-opaque);
	color: var(--accent-color);
	text-decoration: none;
}

a.bold-href {
	white-space: nowrap;
	padding: 0.25rem 10px;
	display: block;
	width: 100%;
}

.close-button {
	align-self: flex-end;
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--dark-color);
	padding: 10px;
	margin: 10px;
}

#main-content {
	transition: transform 0.3s ease;
}

#main-content.shifted {
	transform: translateX(-300px);
}

.gold-banner {
	background-color: var(--accent-color);
	padding: 0.2rem 0.2rem;
}
button {
	padding: 10px 20px;
	border: none;
	background-color: var(--dark-color);
	color: var(--light-color);
	cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--dark-color);
}
a {
	color: var(--dark-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.button {
	background-color: var(--dark-color);
	color: var(--dark-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover {
	background-color: darken(var(--accent-color), 10%);
}
.border {
	border-color: var(--accent-color);
}
.alert {
	background-color: lighten(var(--accent-color), 60%);
	color: var(--light-color);
	padding: 10px;
	border-radius: 5px;
}
.text h1 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
.text h2 {
	margin: 0.5rem 0;
	font-size: 1.8rem;
}
.text h3 {
	margin: 0.5rem 0;
	font-size: 1.4rem;
}
.footer-text {
	margin: 0.5rem 0;
	font-size: 0.9rem;
}
.subtitle {
	padding-bottom: 0.3125rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
	font-weight: 600;
	font-size: 2.4rem;
	text-transform: uppercase;
	/* font-family: 'Computer Modern Sans', sans-serif; */
	/* font-stretch: semi-condensed; */
}
.title {
	border-bottom: 0.125rem solid var(--accent-color);
	padding-bottom: 0.3125rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
	font-weight: 500;
	font-size: 1.8rem;
	z-index: 1;
	color: black;
	text-transform: uppercase;
}

/* General styles for the card */
.card {
	padding: 1rem;
	border-radius: 1.5rem;
	box-shadow: var(--light-shadow);
	position: relative;
	margin: 1rem 1rem 1.5rem;
}

/* Improved styles for the about-me section */
#about.card {
	padding: 1rem;
	border-radius: 1.5rem;
	box-shadow: var(--light-shadow);
	position: relative;
}

.gold-banner {
	height: 4px;
	background-color: var(--accent-color);
	margin: 2rem 0;
}

.badge-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.badge-container img {
	max-width: 150px;
	height: auto;
}

.about-list,
.technical-list {
	padding: 0;
	margin: 0 0 2rem 0;
	list-style-type: none;
}

.about-list > li:first-child {
    padding-right: 150px;  /* Apply 150px right padding only to the first list item */
}

.about-list > li,
.technical-list > li {
    padding: 1rem 0 1rem 2.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--accent-color);
    font-size: 1.6rem;
    position: relative;
    line-height: 1.4;
    color: var(--subdark-color);
}

.about-list > li::before,
.technical-list > li::before {
	content: '►';
	color: var(--accent-color);
	font-weight: 700;
	font-size: 1.4rem;
	position: absolute;
	left: 0;
	top: 1.2rem;
}

.about-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--subdark-color);
    margin-bottom: 2rem;
    padding: 0 1rem;
    position: relative;
    font-family: 'EB Garamond', serif;
}

.about-text::before,
.about-text::after {
    content: '"';
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    position: absolute;
    color: var(--accent-color);
}

.about-text::before {
    top: -2rem;
    left: -1rem;
}

.about-text::after {
    bottom: -3rem;
    right: 1rem;
}

.technical-list > li > ul {
	margin-top: 1rem;
	padding-left: 2rem;
}

.technical-list > li > ul > li {
	position: relative;
	padding-left: 2rem;
	margin-bottom: 0.8rem;
	font-size: 1.4rem;
}

.technical-list > li > ul > li::before {
	content: '\f00c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	left: 0;
	top: 0.2rem;
	color: var(--accent-color);
}

/* Hide the existing checkmark icons */
.technical-list > li > ul > li > i.fas.fa-check {
	display: none;
}

.technical-list,
.technical-list ul {
	list-style-type: none;
}

/* Styles for tooltips */
.tooltips {
	position: relative;
	display: inline-block;
}
.tooltips .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: var(--dark-color);
	color: var(--white-color);
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -100px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltips:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Subtitle styles */
h3.subtitle {
	border-bottom: 0.125rem solid var(--accent-color);
	margin-right: 8.5rem;
}

.profile-banner {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.profile-image {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.profile-pic {
	width: 20rem;
	border-radius: 50%;
	box-shadow: var(--light-shadow);
	margin-top: 2rem;
}
.profile-text {
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.profile-banner-item {
	white-space: nowrap;
	margin-right: 0.5rem;
}
.profile-banner-item:not(:last-child)::after {
	content: '|';
	color: var(--accent-color);
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.section {
	height: 100vh;
	padding: 2rem;
	border-radius: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.badge-container {
	position: absolute;
	z-index: 2;
	top: 5vw;
	right: 2vw;
	width: 14rem;
	height: auto;
}
.badge-container img {
	max-width: 100%;
	height: auto;
}
/* Existing styles with some modifications */
.polaroid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Added gap for consistent spacing */
}

.polaroid {
    flex: 0 0 45%;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: var(--light-shadow);
    background-color: var(--white-color);
    padding-top: 0;
    max-width: 400px; /* Added max-width for larger screens */
}

.polaroid img:hover:not(.zoomed) {
    cursor: zoom-in;
}

.polaroid img.zoomed:hover {
    cursor: zoom-out;
}

.polaroid img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 1.5rem;
    height: auto; /* Ensure aspect ratio is maintained */
    object-fit: cover; /* Ensure image covers the area without distortion */
}

/* New styles for mobile optimization */
@media (max-width: 768px) {
    .polaroid-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .polaroid {
        flex: 0 0 90%; /* Adjust width for mobile */
        max-width: none;
        margin: 1rem 0; /* Adjust vertical margin */
    }

    .polaroid img {
        max-height: 300px; /* Limit height on mobile */
        object-fit: contain; /* Show full image without cropping */
    }

    .polaroid .title {
        font-size: 1rem;
        margin: 0.5rem 0;
        text-align: center;
    }
}

/* Additional improvements for larger screens */
@media (min-width: 769px) {
    .polaroid-wrapper {
        justify-content: space-around;
    }

    .polaroid {
        flex: 0 0 calc(50% - 2rem); /* Adjust for gap */
    }

    .polaroid img {
        max-height: 400px; /* Limit height on larger screens */
    }
}
.instructions {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 1.8rem;
}
.loading {
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 5px;
}
.object-container {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
}
form {
	background: var(--light-color);
	display: flex;
	flex-direction: column;
	width: 58rem;
	max-width: 60vw;
	border-radius: 1rem;
	margin: 0 auto;
	box-shadow: var(--light-shadow);
	color: var(--dark-color);
	padding: 4vw 4vw;
}
form .text,
form h3,
form input,
form textarea,
form button {
	font-weight: 900;
	font-size: 2rem;
	color: var(--dark-color);
}
form input,
form textarea {
	border: 0;
	margin: 1rem 0;
	padding: 2rem;
	outline: none;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	font-size: 1.8rem;
	outline: none;
	background: var(--light-color);
}
form button {
	padding: 1.5rem;
	background: var(--accent-opaque);
	color: var(--light-color);
	font-size: 1.8rem;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 15rem;
	margin: 2rem auto 0;
	border-radius: 3rem;
	transition: background-color 0.3s ease;
}
form input:hover,
form textarea:hover {
	background-color: var(--accent-opaque);
}
form button:hover {
	background-color: var(--accent-color);
}
.scroll-container {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
#scroll-button {
	width: 6vw;
	height: 6vw;
	padding: 1.1vw;
	font-size: 1.6vw;
	border: none;
	outline: none;
	background-color: var(--accent-opaque);
	color: var(--light-color);
	cursor: pointer;
	border-radius: 50%;
	box-sizing: border-box;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
#scroll-button:hover {
	background-color: var(--accent-color);
}
.footer-text {
	text-align: center;
	margin-top: 2rem;
	font-weight: 400;
}
footer {
	position: relative;
	text-align: center;
	margin-bottom: 5rem;
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	box-shadow: var(--light-shadow);
	margin-top: -1rem;
}
